[data-name='hex-colors_container'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  animation: changeColor 5s infinite alternate;
  @keyframes changeColor {
    0% {
      color: indigo;
    }
    20% {
      color: blue;
    }
    40% {
      color: green;
    }
    60% {
      color: yellow;
    }
    80% {
      color: orange;
    }
    100% {
      color: red;
    }
  }

  [data-name='title'] {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  [data-name='color-code'] {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  [data-name='change-button'] {
    width: 100px;
    height: 50px;
    background-color: darken($color: #fff, $amount: 4%);
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 1.5rem auto;
    transition: all 150ms ease-out;
    &:hover {
      background-color: darken($color: #fff, $amount: 12%);
    }
  }
}
